pandas
jupyter
jupyter-client==7.3.0
seaborn
numpy
matplotlib
nltk
scikit-learn
imageai
tensorflow-gpu==2.7.1
opencv-python
requests
pillow
tqdm
deepface
google-api-python-client
imbalanced-learn
featurewiz