pandas
jupyter
jupyter-client
seaborn
numpy
matplotlib
nltk
scikit-learn
imageai==2.1.6
# tensorflow-gpu==2.7.1
tensorflow-gpu==2.4.4
tensorflow==2.4.4
opencv-python
requests
# pillow==9.1.0
pillow
tqdm
deepface
google-api-python-client
imbalanced-learn
featurewiz